html,
body {
  color: #FFFFFF;
  margin: 0;
  font-size: 0.8125rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.43;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.arrow {
  box-sizing: border-box;
  height: 3vw;
  width: 3vw;
  align-items: center;
  border-style: solid;
  border-color: white;
  border-width: 0px 6px 6px 0px;
  transform: rotate(45deg);
}

.avatar {
	overflow: hidden;
	transform: translatey(0px);
	animation: forwards 4s ease-in-out infinite;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.back {
  background: linear-gradient(165deg, #1f005c, #b8834d);
}
.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: grid;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(166, 48, 234, 0.976);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-3000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

#arrowAnim {
  width: 5vw;
  height: 5vh;
  display: flex;
  justify-content: right;
  align-items: center;
}

.arrow {
  width: 2vw;
  height: 2vw;
  border: 0.5vw solid;
  border-color: white transparent transparent white;
  transform: rotate(135deg);
}


.arrowSliding {
  position: absolute;
  -webkit-animation: slide 5s linear infinite; 
          animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s; 
    animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s; 
    animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s; 
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% { opacity:0; transform: translateX(-10vw); }	
   20% { opacity:1; transform: translateX(-3vw); }	
   80% { opacity:1; transform: translateX(3vw); }	
  100% { opacity:0; transform: translateX(10vw); }	
}
@keyframes slide {
    0% { opacity:0; transform: translateX(-10vw); }	
   20% { opacity:1; transform: translateX(-3vw); }	
   80% { opacity:1; transform: translateX(3vw); }	
  100% { opacity:0; transform: translateX(10vw); }	
}

.modalborder {
  position: absolute;
  display: block;
  top: -50%;
  left: -50%;
  z-index: -9;
  display: block;
  height: 200%;
  width: 200%;
  transform: rotate(-45deg);
  overflow: hidden;
  background: linear-gradient(to right, #fff 20%, #fff 40%, #ECD08C 50%, #ECD08C 55%, #fff 70%, #fff 100%);
  background-size: 200% auto;
  animation: shine 3s linear infinite;
}

/*Begin shimmer code*/

@keyframes shine {
    to {
      background-position: 200% center;
    }
  }